.subir, .check, .borrar{
  background-color: rgba(222, 140, 18, 0.83);
  display: inline-block;
  margin-top: 10px;
  border: none;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}



body{
  background:rgb(47, 140, 186);
}

@media screen and (min-width: 601px){
  body{
    font-size: 30px;
    text-align: center;
    font-family: "Didot", serif;
  }
}

@media screen and (max-width: 600px){
  body{
    font-size: 6vw;
    text-align: center;
    font-family: "Didot", Times, serif;

  }
}

ul {
list-style:none;
}

.deschec{
    text-decoration: line-through;
}
